/*
Nota::
Rosado:#F3A69D
color2:#f6bb8d
Anaranjado:#f8d7ae
*/
@font-face {
    font-family: 'cream';
    src: url(../assets/Pacifico-Regular.ttf);
}

*{
    font-family: 'Roboto', sans-serif;
}
/*header
.barrademenu {
    background-color:#f8d7ae;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 35px #0001;
    
    fixed
    position: fixed;
    top: 0;
    width: 100%;
    
}*/


.logo
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 20px;
}

nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li {
    list-style: none;
    display:inline-block;
    padding:12px 26px;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: white !important;
    font-weight: 900;
    font-size: 18px;
    padding: 30px;
    border-radius: 2px;
    text-transform: uppercase;

}
li a.active,li a:hover{
    background: #F3A69D;
    transition: .5s;
}

/* main*/
.contenedor{
    text-align: center;
}
    

.title{
    font-family: 'cream';
    color: #F3A69D;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    }
.primeraimagen{
height: 1000px;
}
.p{
    font-size: 20px
}

.pastelcontenido{
    height: 500px;
    width: 400px;
    margin-bottom: 30px;
}
/*.pastelcontenido3{
    height: 500px;
    width: 400px;
}
.pastelcontenido4{
    height: 500px;
    width: 400px;
}
/*footer*/
footer{
    background-color: #f8d7ae;
    color: white;
    font-weight: 400;
    text-align: center;
    
}
/*productos*/
.productos{
flex-direction: column;
align-items:center;
padding-top: 70px;

}
.productos h3{
    font-family: 'cream';
    color: #F3A69D;
    font-size: 30px;
    text-align: center;

}

.parrafo{
    font-size: 1em;
}
.productos--cont{
    display: flex;
    flex-flow: wrap;
    justify-content: center;


}
.item-img{
    width: 410px;
    height: 470px;
    overflow: hidden;
    padding: 30px;
}
.item-img img{
width: 100%;
}
.item-img h4 {
    font-size: 10px;
}
.imgproducto{
    max-width: 350px;
    height: 310px;
}

/*NOSOTROS*/
.quienessomos1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}

.equipo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.equipo2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
 .parrafosval{
    display: flex;
    background-color: #fbe1cd;
 }
 .p1{
    margin: 20px;
    margin-bottom: 40px;
    

 }
.p2{
    margin: 20px;
    margin-bottom: 40px;

}
.p3{
    margin: 20px;
    margin-bottom: 40px;
}

.contenedorequipo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.equipo2{
    margin-bottom: 40px;
    margin-top: 40px;
    width: 650px;
    height: 600px;
}
.title1{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 80px;
    font-family: 'cream';
    color: #F3A69D;
    margin-left: 80px
}
/*PROMOCIONES*/

.promociones{
    flex-direction: column;
    align-items:center;
    padding-top: 30px;
    
    }


.promociones--cont{
    display: flex;
    flex-flow: wrap;
    justify-content: center;


}
.prom-img{
    width: 410px;
    height: 470px;
    overflow: hidden;
    padding: 30px;
}
.prom-img img{
width: 100%;
}

.imgpromo{
    max-width: 350px;
    height: 310px;
}

.ppromo {
    margin-top: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 988px)
 {
   .primeraimagen
   {width: 600px;
    height: 500px !important;
margin-bottom: 20px;} 
  }
  
  @media screen and (max-width: 988px){
    .equipo{
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
    margin-left: 50px;
    }
  }
  @media screen and (max-width: 988px)
  {
    .contenedorequipo{
        flex-direction: column;
        display: flex;
        margin-left: 50px;
    }
  }
  @media screen and (max-width: 988px){
    .parrafosval{
        flex-direction: column;
    }
  }
  @media screen and (max-width: 988px){
    .title1{
        margin-left: 50px;
        margin-top: 50px;
        
    }
  }

  @media screen and (max-width: 988px){
    .equipo2{
        width: 300px;
        height: 250px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 40px;
    }
  }
  