/*Media querin*/

@media screen and (max-width: 980px)
 {
   .contenido__primeraimagen
   {width: 400px;
    height: 400px !important;
    margin-bottom: 20px;} 
  }
  .nosotros{
    flex-direction: column;
    display: flex;
   margin-left: 30px;
 
   &__equipo{
   @include w-h (300px,300px);
     
     }

   &__parrafosval{
  flex-direction: column;
 }

   &__title1{
     margin-left: 50px;
     margin-top: 50px;
     
 }

}
 .col-md-12 {
  flex-direction: column;
}
.col-md-6{ margin-left: 120px;
  
  }
.col-md-6_contacto{
  width: 300px; 
  height: 320px;
}



  
 