/*Media querin*/

@media screen and (max-width: 988px)
 {
   .contenido__primeraimagen
   {width: 500px;
    height: 400px !important;
margin-bottom: 20px;} 
  }
  
  @media screen and (max-width: 988px){
    
    .nosotros{
       flex-direction: column;
       display: flex;
      margin-left: 30px;
    
    &__equipo{
      @include w-h (400px,300px);
        
        }
 
    &__parrafosval{
        flex-direction: column;
    }

    &__title1{
        margin-left: 50px;
        margin-top: 50px;
        
    }
  }
}

  @media screen and (max-width: 988px){
    .col-md-12 {
        flex-direction: column;
    }
  }
  @media screen and (max-width: 988px){
    .col-md-6{ margin-left: 50px;}
  }
  