//VARIABLES
/* 
Almacenar información en una palabra clave*/

//Colores
$titulo:#F3A69D;
$anaranjadofuerte:#f6bb8d;
$anarajado:#f8d7ae;
$white:#ffff;
$rosadoclaro: #fbe1cd;

//Fuentes

$fontroboto: 'Roboto', sans-serif;
$fontpacifico: 'Pacifico', cursive;
$fontcream: 'cream';

