.contenido{
    text-align: center;

    

&__title{
    font-family: $fontpacifico!important;
    color:$titulo;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    }
&__primeraimagen{
height: 1000px;
}
p{
    font-size: 20px;

}

&__pastelcontenido{
    @include w-h (400px,400px);
    margin-bottom: 30px;
}
}