
/*PROMOCIONES*/

.promociones{
    flex-direction: column;
    align-items:center;
    padding-top: 30px;
    
&__cont{
    @include dis-wrap-juscent;


}
&__img{
    @include w-h (410px,470px);
    overflow: hidden;
    padding: 30px;
}
&__img img{
width: 100%;
}

 .imgpromo{
    max-width: 350px;
    height: 310px;
}

&__p {
    margin-top: 10px;
    margin-left: 105px;
}
&__p1 {
    margin-top: 10px;
    margin-left: 120px;
}
}

.col-md-6_contacto{
    width: 400px; 
    height: 350px;
    margin-left: 30px;}