.productos{
    flex-direction: column;
    align-items:center;
    padding-top: 70px;
    
    
    &__h1{
        font-family: 'cream';
        color: #F3A69D;
        font-size: 40px;
        text-align: center;
    
    }
    
     .parrafo{
        font-size: 1em;
        margin-top: 20px;
        margin-left: 100px;
    }
    &__cont{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    
    
   
    }
}
    .item__img{
        @include w-h (410px,470px);
        overflow: hidden;
        padding: 30px;
    }
    
    .item__img img{
    width: 100%;
    }
    
    .img__producto{
        max-width: 350px;
        height: 310px;
    }
